<div class="note">Оба варианта работают примерно одинаково: при нажатии на кнопку выводится контекстное меню, которым управляется добавление и удаление закладок (при удалении через кнопку, удаляется закладка с нулевым индексом). При активации события вызова контекстного меню (правая кнопка мыши) над заголовком какой нибудь закладки - при удалении удаляется закладка, над заголовком которой произошел вызов, при добавлении - новая закладка ставиться в конец общего списка. Можно еще реализовать подход динамической вставки компонентов (hostView, EmbeddedView) в представление, используя абстракции <span style="color: darkred">ViewContainerRef, TemplateRef </span> </div>
<div class="mat-tab-container">
	<mat-toolbar color="primary">
		<mat-toolbar-row>
			<button mat-mini-fab>
				<mat-icon aria-label="add element button" #menuTrigger="matMenuTrigger" [mat-menu-trigger-for]="menu">menu</mat-icon>
			</button>
			<span>Использует компонентный подход библиотеки Angular Material</span>
		</mat-toolbar-row>
	</mat-toolbar>
	<mat-tab-group [selectedIndex]="selectedIndex"  (selectedIndexChange)="selectedIndex = $event" >
		<mat-tab *ngFor="let tab of tabs; index as inx">
			<ng-template mat-tab-label >
				<span>{{tab.label}}</span>
			</ng-template>
			
			{{tab.content}}
		</mat-tab>
	
	</mat-tab-group>
	<mat-menu #menu="matMenu" >
		<button mat-menu-item (click)="deleteTab()" >Удалить</button>
		<button mat-menu-item (click)="addTab()" >Добавить</button>
	</mat-menu>
	
</div>
<div class="angular-tab-container">
	<mat-toolbar color="primary">
		<mat-toolbar-row>
			<button mat-mini-fab>
				<mat-icon aria-label="add element button" #secondMenuTrigger="matMenuTrigger" [mat-menu-trigger-for]="secondMenu">menu</mat-icon>
			</button>
			<span>Использует компонентный подход разработчика(<span style="font-size: 14px">в разметке только содержимое активной закладки</span>)</span>
		</mat-toolbar-row>
	</mat-toolbar>
	<app-tabs (activatedTab)="onActiveTab($event)"></app-tabs>
	<mat-menu #secondMenu="matMenu" >
		<button mat-menu-item (click)="deleteSecondTab()" >Удалить</button>
		<button mat-menu-item (click)="addSecondTab()" >Добавить</button>
	</mat-menu>

</div>

